@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.language-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  margin-left: 200px;
  position: relative;
}

.select-wrapper .select {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  color: black;
  padding: 4px 26px 4px 40px;
  margin-right: 8px;
  background-color: white;
  font-size: 14px;
  line-height: 1.7;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.select:hover {
  background-color: rgba(248, 10, 10, 0.9);
}

.flag {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);

  width: 20px;
  height: 20px;
  background-size: contain;
}
